{
    "FILE": "test/library.json",
    "XML_FILE": "test/library.xml",
    "URI": "mongodb://localhost:27017/",
    "DATABASE": "cs5421",

    "COLLECTION": "library",
    "COLLECTION_ITEM": "album",

    "solver": null,

    "test": [
        {
            "expr": "/child::{}/child::{}/child::songs/child::song/child::title" 
        },
        {
            "expr": "/child::{}/child::{}/child::songs/child::*"
        },
        {
            "expr": "/child::{}/child::{}[child::artists/child::artist/child::name='Kris Dayanti']/child::year"
        },
        {
            "expr": "/child::{}/child::{}[child::year>=1990 and child::year <=1995]/child::title"
        },
        {
            "expr": "/child::{}/child::{}[child::year>=1990 and child::year <=1995]/descendant::title"
        },
        {
            "expr": "/child::{}/child::{}[child::year>=1990 and child::year <=1995]/child::songs/following-sibling::*"
        },
        {
            "expr": "/child::{}/child::{}/descendant::duration/preceding-sibling::*"
        },
        {
            "expr": "/child::{}/child::{}/descendant::title/ancestor::song"
        },
        {
            "expr": "/child::{}/child::{}/descendant::title[ancestor-or-self::song and (self::title='Yang Hilang' or self::title='Bua Hati')]"
        },
        {
            "expr": "/child::{}/child::{}/child::songs[count(child::song) <= 2 and parent::*/descendant-or-self::country = 'Malaysia']"
        },
        {
            "expr": "/child::{}/child::{}/child::songs[count(child::song) <= 2 and parent::*/descendant::country != 'Indonesia' and parent::*/descendant::country != 'United Kingdom']"
        },
        {
            "expr": "/child::{}/child::{}[position()=last()-1]/descendant::title[following-sibling::*]"
        }
    ]
}